{:aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"} ;; or "RELEASE"
                                com.billpiel/sayid {:mvn/version "0.0.17"}
                                cider/cider-nrepl  {:mvn/version "0.22.0"}}
                   :main-opts  ["-m" "nrepl.cmdline"]}

           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts  ["-m" "rebel-readline.main"]}}}
